$body-color: #3d4045;

$nav-bgColor: #689da3;
$nav-color: white;

$anchortag-color: #7295e7;

$codePara: crimson;

// code input and output
$codein-bgColor: #263238;
$codein-color: white;
$code-tag-color: #e37178;
$code-bracket-color: #89ddff;
$codeout-bgColor: rgb(245, 245, 245);

// code editor

$code-editor-btn-color: rgb(76, 193, 76);
$code-editor-textarea-bgColor: #f4f4f9;